-f https://download.pytorch.org/whl/cpu/torch_stable.html
requests
pandas==1.4.1
opencv-python==4.5.5.62
opencv-contrib-python==4.5.5.62
albumentations==1.1.0
torch==1.10.2+cpu
torchvision==0.11.3+cpu
matplotlib==3.5.1

googledrivedownloader==0.4
keyboard